*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

body{
  font-family: Arial, sans-serif;
  background-color: #F3F5FC;
}

.aluraLogo{
  padding: 2rem;
}

/* BUTTONS */

.buttons{
  display: flex;
  position: absolute;
  bottom: 3rem;
  left: 10rem;
  gap: 24px;
}

/* BUTTON SHADOW */

.encrypt, .decrypt{
  filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.2))
}

.encrypt{
  color: #ffff;
  border-style: none;
  border-radius: 24px;
  padding: 24px 65px;
  background-color: #0A3871;
  
}

.decrypt{
  color: #0A3871;
  border-style: none;
  border-radius: 24px;
  padding: 24px 65px;
  border: solid 1px #0A3871;
  background-color: #D8DFE8;
}

.decrypt:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, .1);
  filter: brightness(150%);
}

.encrypt:hover{
  cursor: pointer;
  background-color: #0A3871;
  filter: brightness(150%);
}


/* LATERAL SPACE */

.lateralSpace{
  position: absolute;
  margin: 2rem;
  top: 0  ;
  right: 0;
  bottom: 0;
  background-color: #ffff;
  padding: 2rem 5rem;
  border-radius: 2rem;
  filter: drop-shadow(5px 15px 10px rgba(0, 0, 0, 0.1) );
  animation: ease 200ms;
}

/* TEXT AREA */

.text-area{
  position: absolute;
  overflow: hidden;
  resize: none;

  padding: 2rem;
  margin-left: 10rem;
  border-radius: 2rem;
  font-size: 2rem;

  background-color: #d8dfe870;
  color: #0A3871;
}

.text-area::placeholder{
  color: #0A3871;
}
