body{
  background-color: #D8DFE8;
  margin: 0 auto;
}


.buttons{
  display: flex;
  gap: 24px
}

.encriptar{
  color: #ffff;
  border-style: none;
  border-radius: 24px;
  padding: 24px 65px;
  background-color: #0A3871;
  
}

.decriptar{
  color: #0A3871;
  border-style: none;
  border-radius: 24px;
  padding: 0 24px;
  border: solid 1px #0A3871;
  background-color: #D8DFE8;
}

.decriptar:hover{
  cursor: pointer;
}

.encriptar:hover{
  cursor: pointer;
}
